<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shankephone.job.scheduling.regulation.dao.DBDataSourceDao">

	<insert id="insert"
		parameterType="com.shankephone.job.scheduling.regulation.model.DBDataSource">
		INSERT INTO data_source
		<trim prefix="(" suffix=")" suffixOverrides=",">
			master_url,
			master_username,
			MASTER_PASSWORD,
			slave_url,
			slave_username,
			slave_password,
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{master_url},
			#{master_username},
			#{master_password},
			#{slave_url},
			#{slave_username},
			#{slave_password},
			now()
		</trim>
	</insert>

	<delete id="deleteById">
		delete from data_source where id = #{id} 
	</delete>

	<update id="update"
		parameterType="com.shankephone.job.scheduling.regulation.model.DBDataSource">
		update data_source set 
			master_url = #{master_url},
			master_username = #{master_username},
			master_password = #{master_password},
			slave_url = #{slave_url},
			slave_username = #{slave_username},
			slave_password = #{slave_password},
			modify_time = #{modify_time}
		where id = #{id} 
	</update>

	<select id="queryById"
		resultType="com.shankephone.job.scheduling.regulation.model.DBDataSource">
		select master_url,
			master_username,
			MASTER_PASSWORD,
			slave_url,
			slave_username,
			slave_password
		from data_source 
		where id = #{id} 
	</select>

	<select id="queryList"
		resultType="com.shankephone.job.scheduling.regulation.model.DBDataSource">
		select * from data_source order by create_time desc
	</select>
</mapper>






