<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shankephone.job.scheduling.regulation.dao.RegulationDetailDao">

	<insert id="insert"
		parameterType="com.shankephone.job.scheduling.regulation.model.RegulationDetail">
		INSERT INTO regulation_detail 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			reg_id,
			col_name,
			col_value,
			operator,
			type
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{reg_id},
			#{col_name},
			#{col_value},
			#{operator},
			#{type}
		</trim>
	</insert>
	
    <select id="queryMaxId"
		resultType="java.lang.Long">
		select CAST(max(id) AS SIGNED) as regDetail_id
		from regulation_detail 
	</select>

	<delete id="deleteById">
		delete from regulation_detail where id = #{id} 
	</delete>

	<update id="update"
		parameterType="com.shankephone.job.scheduling.regulation.model.RegulationDetail">
		update regulation_detail set 
			reg_id = #{reg_id},
			col_name = #{col_name},
			col_value = #{col_value},
			operator = #{operator},
			type = #{type}
		where id = #{id}
	</update>
	

	<select id="queryById"
		resultType="com.shankephone.job.scheduling.regulation.model.RegulationDetail">
		select *
		from regulation_detail
		where id = #{id} 
	</select>

	<select id="queryCountById"
		resultType="java.lang.Long">
		select count(*) from regulation_detail where id=#{id}
	</select>
	
</mapper>






